/* Basic Styles */
h1 {
  color: purple;
  font-size: 2em;
  font-weight: bold;
}

* {
  font-family: calibri, sans-serif;
  color: #2F4F4F;
}

h2 {
  color: rgb(0, 128, 128);
  font-weight: bold;
  font-size: 1.5em;
}

aside, footer {
  font-style: italic;
}

h1, h2, h3 {
  font-family: Arial, sans-serif;
}

table {
  border: 1px solid black;
}

#images {
  text-align: center; /* Centers content inside container */
}

#small-headings {
  color: red;
}

.special {
  color: darkorange;  /* Fixed typo in color */
  font-weight: bold;
}

.alignment {
  text-align: right;
}


ul {
  list-style-type: square;
}

ol > ul {
  list-style-type: square;
}

aside:hover {
  visibility: hidden;
}

nav a {
  text-decoration: none;
  padding: 0.2em 0.6em;
  border: 4px solid #ccc;
  display: inline-block;
  font-weight: normal;
}

nav a:hover {
  background-color: lightblue;
  border-color: darkblue;
  font-weight: bold;
}

table {
  border: 2px solid black;
  border-collapse: collapse; 
}

table th, table td {
  border: 1px solid black;
  padding: 8px;
}

.price {
  font-style: italic;
}

#text-image, #images, .image-align {
  text-align: center;
  width: 100%; 
}

a {
  display: block;
  margin: 0 auto;
}

img {
  max-width: 10%;
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
